<title>{{ .Site.Title }}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ .Site.Params.description }}">
<meta name="author" content="{{ .Site.Params.author }}">
<link rel="shortcut icon" href="favicon.ico">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900">
{{ $style := resources.Get "scss/styles.scss" | resources.ExecuteAsTemplate "scss/styles.scss" . | toCSS (dict "targetPath" "assets/css/styles.css") }}
<link rel="stylesheet" href="{{ $style.Permalink }}">